table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

#outer {
	width: 100%;
	text-align: center;
}

.innerEdit {
	display: inline-block;
}

.innerDelete {
	display: inline-block;
}

#login {
	text-align: center;
	width: 300px;
	margin: 0 auto;
	position: absolute;
	top: 40%;
	left: 40%;
}

#formTable th td {
	border: none;
}

#actionTd {
	width: 120px;
}

